//- send needful configuration values to script 向script传入需要的配置值
script.
  const GLOBAL_CONFIG = {
    comment: { theme: '#{theme.comment.data_theme}'}
  }

//- darkmode 深色模式
if theme.darkmode.enable
  | !{ js('js/third-party/darkmode') }

  script.
    var options = {
      dark: '#{url_for("/css/darkmode.css")}',
      startAt: '#{theme.darkmode.start_at}',
      endAt: '#{theme.darkmode.end_at}',
      checkSystemScheme: '#{theme.darkmode.check_system_scheme}',
      saveOnToggle: '#{theme.darkmode.save_on_toggle}'
    };
    var darkMode = new DarkMode(options);
    // change comment theme synchronously 同步修改评论区主题
    if (darkMode.getMode() == "dark" && (#{theme.comment.post_enable} || #{theme.comment.about_enable})) {
      if (document.getElementById('comment')) {
        document.getElementById('comment').getElementsByTagName('script')[0].setAttribute('data-theme', 'noborder_dark');
      }
    }

//- get current font size in local storage 在本地存储中获取文章当前字体大小
if is_post() && theme.tool_bar.setting_font_size
  script.
    if (localStorage.getItem('font-size')) {
      document.querySelector('.post-content').style.fontSize = localStorage.getItem('font-size') + 'px';
    }

| !{ js('js/theme/tool-bar') }
| !{ js('js/theme/menu') }

//- clipboard 剪贴板
| !{ js('js/third-party/clipboard.min') }
| !{ js('js/theme/copy') }
script.
  copyCode();

//- reward function 奖赏功能
if theme.reward.enable && is_post()
  | !{ js('js/theme/reward') }

//- search function 搜索功能
if theme.search.enable
  | !{ js('js/jquery-3.7.1.min') }
  | !{ js('js/theme/search') }
  
  script.
    searchFunc('#{url_for(config.search.path)}', 'search-input', 'search-result');

//- APlayer 音乐播放器
if page.music && theme.toc.enable && (page.toc == undefined || page.toc)
  | !{ js('js/theme/toc') }
  //- Since APlayer conflicts with TOC function, it is necessary to decode URLs from TOC 因为APlayer与TOC功能冲突，需要额外对TOC链接进行解码才能正常跳转
  script.
    decodeToc();