#home-main
  - for (post of page.posts.toArray())
    .home-article
      - let article_cover = post.cover || post.photo
      if article_cover
        .home-article-cover
          a(href=url_for(post.path))
            img(src=url_for(article_cover) alt='Post Cover')

      .home-article-content(cover=article_cover ? '' : 'nocover')
        .home-article-title
          if post.encrypt
            .home-article-encrypt
              != getSvg('lock')

          if post.sticky
            .home-article-sticky= __('sticky')
          
          a(href=url_for(post.path))= post.title

        if post.excerpt != 'false'
          .home-article-excerpt
            if post.excerpt
              != strip_html(post.excerpt)
            else
              - let excerpt_length = theme.post.excerpt_length || 200
              != truncate(strip_html(post.content).replace(/\s{2,}/g, " "), {length: excerpt_length})

        .home-article-info-container
          .home-article-info
            .home-article-date
              != getSvg('ta-pubdate')
              span= date(post.date)

            if post.categories.length > 0
              .home-article-categories
                != getSvg('ta-category')
                each cat in post.categories.toArray()
                  a(href=url_for(cat.path))= cat.name
            
            if post.tags.length > 0
              .home-article-tags
                != getSvg('ta-tag')
                each tag in post.tags.toArray()
                  a(href=url_for(tag.path))= tag.name
            
          .home-article-func
            a.read-more-btn(href=url_for(post.path))= __('read_more') + " >>"

  .home-paginator
    != partial('components/paginator')
