aside#home-sidebar
  if theme.sidebar.info.enable
    .sidebar-card#sidebar-info
      #sidebar-info-img
        a(href=url_for(theme.sidebar.info.link))
          if theme.sidebar.info.type == "author"
            img(src=url_for(theme.info.avatar) alt='Avatar')
          else if theme.sidebar.info.type == "site"
            img(src=url_for(theme.info.logo) alt='Avatar')

        if theme.sidebar.info.status.emoji
          .status(title=theme.sidebar.info.status.desc)= theme.sidebar.info.status.emoji

      #sidebar-info-name=  theme.sidebar.info.type == "author" ? config.author : config.title

      #sidebar-info-desc= theme.sidebar.info.desc

      if theme.sidebar.info.statistic
        .site-statistic
          a(href=url_for(config.archive_dir))
            .site-statistic-num= site.posts.length
            .site-statistic-title= __('archives')
          a(href=url_for(config.category_dir))
            .site-statistic-num= site.categories.length
            .site-statistic-title= __('categories')
          a(href=url_for(config.tag_dir))
            .site-statistic-num= site.tags.length
            .site-statistic-title= __('tags')

      if theme.sidebar.info.social.enable
        if theme.sidebar.info.social.list
          .social
            each value, profile in theme.sidebar.info.social.list
              - var social_link = trim(value.split('||')[1])
              if profile == "email" || profile == "mail"
                - social_link = "mailto:" + social_link
              a(href=url_for(social_link) title=__('social.' + profile) target='_blank')
                != getSvg(trim(value.split('||')[0]))
  
  if theme.sidebar.announcement
    .sidebar-card#sidebar-announcement
      .sidebar-card-headline
        != getSvg('announcement', {class:'icon box-icon'})
        span= __('announcement')
      .markdown
        != markdown(theme.sidebar.announcement)

  if theme.sidebar.links.enable
    .sidebar-card#sidebar-links
      .sidebar-card-headline
        != getSvg('link', {class:'icon box-icon'})
        span= theme.sidebar.links.title
      if theme.sidebar.links.list
        #sidebar-links-content
          each value, name in theme.sidebar.links.list
            a(href=url_for(value))= name

  if theme.sidebar.categories.enable
    .sidebar-card#sidebar-categories
      .sidebar-card-headline
        != getSvg('category', {class:'icon box-icon'})
        span= __('categories')
      != list_categories(site.categories, {class:'sidebar-categories', depth: theme.sidebar.categories.depth})

  if theme.sidebar.tags
    .sidebar-card#sidebar-tags
      .sidebar-card-headline
        != getSvg('tag', {class:'icon box-icon'})
        span= __('tags')
      #sidebar-tags-content
        != list_tags(site.tags, {class:'sidebar-tags', style: false, separator:' ', orderby:'count', order: -1})