.post-content
  h1.post-title= page.title
  
  .post-author
    span= _p('post_author', page.author || config.author)
  
  != partial('pages/post/post-meta')

  .post.markdown(indent=page.indent || (theme.post.indent && page.indent==undefined) ? "true" : "false")
    != page.content
  
  if page.status
    .fiction-status= "～ " + theme.fiction.status[page.status] + " ～"

  if theme.post.reward.enable
    != partial('pages/post/post-reward')

  if theme.post.copyright.enable
    != partial('pages/post/post-copyright')

  if theme.post.tail_tags
    .post-tail-tags
      != list_tags(page.tags, {class:'post-tail-tags', show_count:false, style:false, separator:''})

  if theme.post.navigator
    .post-nav
      if page.prev
        a.post-nav-prev(href=url_for(page.prev.path) title=page.prev.title)
          = __('prev_post')
          span= page.prev.title
      else
        a.post-nav-prev(nopost="")
      if page.next
        a.post-nav-next(href=url_for(page.next.path) title=page.next.title)
          = __('next_post')
          span= page.next.title
      else
        a.post-nav-prev(nopost="")

  if theme.comment.enable && (page.comment || (theme.comment.display && page.comment == undefined))
    != partial('components/comment/comment')